<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Spring 容器扫除了 controller 之外的容器。
    Spring （父）容器和 SpringMvc （子）容器是两个容器，子容器可以访问父容器的东西，反之不可以。-->

    <!--使用默认过滤器-->
    <context:component-scan base-package="com.ice" use-default-filters="true">
        <!--不扫描 controller-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
</beans>